
@{
    ViewBag.Title = "NoAutorizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No Autorizado</h2>

<p>Lo sentimos ud. no esta autorizado para ingresar al sistema.</p>

@Html.ActionLink("<< Regresar a Inicio de Sesión", "Login")

